#menus{
    position: absolute;
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

#menu1, div#submenu {
	position: absolute;
	left: 0px;
	top: 270px;
	width: 372px;
	.vdl_ListItems {
		padding-top: 30px;
                left: -10px;
	}
        
	.vdl_ListItem {
                
		padding-left: 82px;
                width: 392px;
	}
}

#introText {
    position: absolute;
    width: 777px;
    height: 380px;
    top: 292px;
    left: 405px;
    font-size: 22px;
    
    p:not(em.yellow){
        /*color: $font-colour-secondary;*/
        color: white;
        /* border: 2px solid black; TESTING ONLY ........ */
        overflow: hidden;            
    }

    em{
         color:$font-colour-secondary;
         font-style:normal;
        
        &.yellow{
            color: rgb(222, 164, 5);
        }
       
    }
}

.emphasised{
    color:$font-colour-secondary;
}

/* Small List with Virgin Media Plum Style */
.vdl_List {
	width: 350px;
	height: 450px;
	border-radius: 5px; }

#menu1.vdl_List {
        
	.vdl_ListBackground {
            width: 372px;
            border-radius: 0 10px 0 0; 
            border-width: 2px 2px 0 0;
        }
}

.vdl_ListBackground {
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: 10px; }

.vdl_ListFocus {
	.vdl_ListBackground {
		background-color: black;
		border: 2px solid plum;
	}
	.vdl_ListTopFade {
		width: 94%;
		top: 2px;
		height: 0;
		border-radius: 5px;
	}
	.vdl_ListBottomFade {
		width: 94%;
		bottom: 2px;
		height: 0;
		border-radius: 5px;
	}
}

.vdl_ListItems .vdl_ListItem, #submenu.vdl_ListItem {
	/* padding-left and right will need to be different for each menu */
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 6px;
	padding-bottom: 14px;
	border: 2px solid transparent;
	margin-top: -8px;
	border-radius: 5px;
        /*width:100%;*/
	height: 48px; /* This ensures all the rows are the same height, with or without data */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div#submenu.vdl_ListItem{
    top: 540px;
    left: 400px;
    width: 392px;
    height:24px;
}

:not(.noGhost).vdl_List .vdl_ListItems .vdl_ListItem.vdl_ListCellGhost, #submenu.vdl_ListItem.vdl_ListCellGhost {
	background: rgba(255,255,255,0.1);
	/*background-color: #999999;*/
	/*opacity: 0.25;*/
	/*border: 2px solid #F0F0F0;*/
	border-width: 2px;
	border-style: solid;
	border-color: rgba(255,255,255,0.2);
}

.vdl_ListItem.vdl_ListNonFocusable {
	color: #6E6E6E;
}

.vdl_ListItem.vdl_ListCellFocus, #submenu.vdl_ListItem.vdl_ListCellFocus {
	background-color: #670D0E;
	border: 2px solid #EC1C24;
}

#submenuBackground{
    position: absolute;
    width: 913px;
    height: 500px;
    
    top:270px;
    left:372px;
    
    box-sizing: border-box;
    z-index: 0;
    margin: 0 auto;
    padding: 0;
    
    background-color:transparent;
    border:none;
    
    &.focused{    
        border-radius: 10px 0 0 0;
        border-width: 2px 2px 0 0;    

        background-color: black;
        border: 2px solid plum;
    }
}