<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TV Care</title>
		<meta name="viewport" content="width=device-width">

		<!-- variables set by build process - as global prefix-->
		<script>
			var vmBuildEnvironment = "<%= buildEnvironment %>"; // will be either DEV or LIVE
			var vmAppVersion = "<%= version %>";
		</script>

		<!-- compiled CSS -->
		<% styles.forEach( function ( file ) { %><link rel="stylesheet" type="text/css" href="<%= file %>" />
		<% }); %>

	</head>

	<body onload="doLoad()">
		<!-- compiled JavaScript, load at end of body for load performance-->
		<% scripts.forEach( function ( file ) { %><script type="text/javascript" src="<%= file %>"></script>
		<% }); %>

		<div id="tvcare">
			<div id="background"></div>

			<div id="titleBar"></div>
			
			<div id="menus">
                            <div id="menu1" class="vdl_List vdl_ListPageFirst vdl_ListFocus" tabindex="2"></div>
                            <div id="submenuBackground"></div>
                            <div id="submenu" class="vdl_ListItem vdl_ListFocusable vdl_hide"></div>
                            <div id="introText"></div>
			</div>

			<!--<div id="passwordPrompt"></div>-->
			<div id="article"></div>
		</div>
	</body>
</html>



